.aCodingLifeColumn {
    height: 525px;
    overflow-y: auto;
}
.adamImageDiv {
    background-color: #f4ece6;
    height: 355px;
    text-align: center;
}

.containerDivs {
    position: absolute;
    width: 100%;
}

.containerDiv2 {
    position: absolute !important;
    width: 100%;
}

.mainTextDiv2 {
    margin-top: 16px;
    text-align: justify;
}

.mainTextDiv3 {
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: justify;
}

.nameDiv {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 20px;
}
